body {
    position: relative;
    font-family: 'helvetica';
    color: rgba(45,45,45,1);
    max-height: 100%;
    margin: 0;
}

.nav-bar {
    float: left;
    overflow: hidden;
    width: 100%;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-bar ul li {
    float: left;
    padding: 15px 15px;
    width: 50%;
    background-color: rgb(103, 124, 141);
}

.nav-bar ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgba(45,45,45,1);
}

.nav-bar ul li:first-child {
    background-color: rgb(100, 133, 160);
}

.home-window {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(100, 133, 160);
    min-height: 2000px;
}

.history-window {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(103, 124, 141);
    min-height: 2000px;
}

.task-type {
    padding-top: 100px;
}

.new-task-field {
    float: left;
    width: 70%;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 20px;
}

.priority-selector {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    overflow: hidden;
    width: 150px;
}
select {
    margin-left: 20px;
    margin-top: 20px;
    border:0;
    height: 50px;
    padding-left: 10px;
    width: 150px;
    -webkit-appearance: none;
}

.add-task-button {
    float: left;
    margin-top: 20px;
    background-color: rgba(45,45,45,1);
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 150px;
    border-style: none;
}

.task-completed-button {
    float: right;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 100px;
    border-style: none;
}

.task-completed-button:hover {
    float: right;
    margin-left: 20px;
    background-color: rgba(45,45,45,1);
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 70px;
    width: 100px;
    border-style: none;
}

.task-list {
    padding-top: 100px;
    color: rgba(45,45,45,1);
}

.activeTask {
    float: left;
    color: rgba(45,45,45,1);
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-left: 20px;
    height: 70px;
    width: 100%;
}

.historyTask {
    float: left;
    color: rgba(45,45,45,1);
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-left: 20px;
    height: 50px;
    width: 85%;
}
